#home {
    background-image: url("/PPW1/avaliacao1/imagens/background.jpg");
}

#curiosidades { 
    background-image: url("/PPW1/avaliacao1/imagens/chapeu.png");
}

#contato {
    background-image: url("/PPW1/avaliacao1/imagens/lj8m9f8aap951.jpg");
}

#fotos {
    background-image: url("/PPW1/avaliacao1/imagens/correndo.jpg");
}

div {
    width: 500px;
    padding: 0;
    border: 5px solid rgb(211, 143, 182);
    margin: auto;
    margin-bottom: 1em;
    background-color: rgb(141, 235, 27);
}

div input form {
    resize: vertical;
    width: 500px;
    height: 5em;
}
#divzaoDeFora{
    width: 630px;
    padding: 20px;
    margin: auto;
    margin-bottom: 1em;
    border: 5px solid rgb(211, 143, 182);
    background-color: rgb(141, 235, 27);
}

.divzinhoDeDentro{
    width: 300px;
    padding: 0;
    margin: auto;
    border: 5px solid rgb(211, 143, 182);
    background-color: rgb(141, 235, 27);
}

.divMaisGordinho {
    width: 700px;
    padding: 30px;
    border: 5px solid rgb(211, 143, 182);
    margin: auto;
    background-color: rgb(141, 235, 27);
}

#titulo {
    font-size: 2em;
    text-align: center;
    color: rgb(0, 0, 0);
}

div table {
    border: 50px, black;
}

div table tr td a {
    border: 3px;
    font-size: 1.5em;
}